<ion-header>
  <ion-toolbar>
    <ion-title>
      <strong>UNISUAM</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">


    <ion-card color="light"><br><br>
      <img alt="perfil" src="../../assets/Photo.png"/><br><br>
      <ion-card-header>
        <ion-card-title><strong>Bernardo da Rocha de Oliveira</strong></ion-card-title><br>
      </ion-card-header>
    
      <ion-card-content>
        <strong>ADS0301M</strong>
      </ion-card-content>
    </ion-card>

    
  </div>
</ion-content>
